/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}

header {
    background-color: #1e90ff;
    color: white;
    padding: 1em;
    text-align: center;
}

main {
    padding: 1em;
}

h2 {
    color: #1e90ff;
    border-bottom: 2px solid #1e90ff;
    padding-bottom: 0.5em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: white;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #ddd;
    font-size: 0.9em;
}
